@model Epicurious.MVC.ViewModels.RecipeViewModel

<h2>Update Recipe</h2>

<form asp-action="UpdateRecipe" asp-controller="Recipe" method="post" class="needs-validation" novalidate>
    @* <input type="hidden" asp-for="RecipeId" /> *@

    <div class="form-group">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" required>
        <div class="invalid-feedback">Title is required.</div>
    </div>

    <div class="form-group">
        <label asp-for="Ingredients">Ingredients</label>
        <textarea asp-for="Ingredients" class="form-control" required></textarea>
        <div class="invalid-feedback">Ingredients are required.</div>
    </div>

    <div class="form-group">
        <label asp-for="Description">Description</label>
        <textarea asp-for="Description" class="form-control" required></textarea>
        <div class="invalid-feedback">Description is required.</div>
    </div>


    <button type="submit" class="btn btn-primary">Update Recipe</button>
</form>
