@using Epicurious.MVC.ViewModels
@model List<RecipeViewModel>

<div class="container mt-3">
    <h2>Recipes</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Title</th>
                <th>Ingredients</th>
                <th>Description</th>

                <th width="20px">Update</th>
                <th width="20px">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var recipe in Model.OrderBy(r => r.Title))
            {
                <tr>
                    <td>@recipe.Title</td>
                    <td>@recipe.Ingredients</td>
                    <td>@recipe.Description</td>
                    <!-- Add more columns as needed -->
                    <td><a href="/recipe/update/@recipe.Id" class="btn btn-success">Update</a></td>
                    <td><a href="/recipe/delete/@recipe.Id" class="btn btn-danger">Delete</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>
